@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-size: 18px;
}

@theme {
  --color-foreground: hsl(0, 0%, 95%);
  --color-background: hsl(0, 0%, 90%);
  --color-main: hsl(0, 0%, 0%);
  --color-accent: hsl(45, 100%, 50%); /*ALT hsl(46, 65%, 52%)*/
  --color-content: hsl(0, 0%, 60%);
  /* --color-accent-alt: hsl(46, 65%, 52%); */
  --color-section: hsl(0, 0%, 100%);
  --color-card: hsl(0, 0%, 80%);
  --color-shadow: hsla(0, 0%, 59%, 0.6);
  --color-outline: hsl(0, 0%, 10%);
  --color-fixed: hsl(0, 0%, 95%);

  --text-xs: 0.75rem; /* captions, labels */
  --text-base: 1rem; /* body text */
  --text-larger: 1.5rem; /* Base subheadings */
  --text-md: 2rem; /* text-highlight  */
  --text-semi: 2.5rem; /* Base heading size */
  --text-lg: 3rem; /* section subheadings  */
  --text-xl: 4rem; /* section/page headings */
  --text-xxl: clamp(4rem, 10vw, 7rem); /* hero display */
  --text-brand: clamp(6rem, 14vw, 9rem); /* T & H brand letters */

  --font-brand: "Cloister Black";
  --font-head: "Cooper Black";
  --font-base: "Oswald";

  --spacing-sm-: 0.5rem;
  --spacing-md: 1.5rem;
  --spacing-nav: 90px;

  --leading-lg: 5.5rem;
  --leading-xl: 6rem;

  --tracking-wide: 0.3rem;

  --scale-hover: 1.05;
  --scale-active: 0.95;
}

.dark {
  --color-foreground: hsl(0, 0%, 10%);
  --color-background: hsl(0, 0%, 0%);
  --color-main: hsl(0, 0%, 95%);
  --color-shadow: hsl(0, 0%, 0%);
  --color-outline: hsl(0, 0%, 50%);
  --color-section: hsl(0, 0%, 5%);
  --color-card: hsl(0, 0%, 10%);
}

@utility text-heading {
  @apply text-semi lg:text-xl font-head;
}

@utility text-subheading {
  @apply text-larger lg:text-md font-bold;
}

@layer base {
  body {
    @apply bg-background text-main font-base transition-colors
           duration-300 ease-in-out text-base;
  }

  h1 {
    font-size: 2rem;
    font-size: clamp(2rem, 0.7179487179487178rem + 5.47008547008547vw, 4rem);
  }
  /* html {
    overflow-y: scroll; /* always show scrollbar track */
  /* }

  ::-webkit-scrollbar {
    width: 8px;
  } */

  /* ::-webkit-scrollbar-track {
    background: transparent;
  } */

  /* ::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 60%);
    border-radius: 4px;
  } */

  svg {
    @apply stroke-main;
  }
}

@utility btn-action {
  &:hover {
    @apply gap-[55%] transition-[hover,filter,gap] duration-300 ease-out 
           justify-between brightness-90 dark:brightness-130;
  }

  &:active {
    @apply gap-[55%] justify-between transition-[brightness] duration-0
               brightness-70;
  }
}
