@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-size: 16px;
}

@font-face {
  font-family: "Heading";
  src: url("./assets/fonts/Heading.ttf");
}
@font-face {
  font-family: "Brand";
  src: url("./assets/fonts/Brand.ttf");
}

@theme {
  --animate-pulse-slow: pulse-slow 4s ease-in-out infinite;

  --color-foreground: hsl(0, 0%, 95%);
  --color-background: hsl(0, 0%, 90%);
  --color-main: hsl(0, 0%, 0%);
  --color-accent: hsl(45, 100%, 50%); /*ALT hsl(46, 65%, 52%)*/
  --color-content: hsl(0, 0%, 60%);
  /* --color-accent-alt: hsl(46, 65%, 52%); */
  --color-section: hsl(0, 0%, 100%);
  --color-card: hsl(0, 0%, 80%);
  --color-shadow: hsla(0, 0%, 59%, 0.6);
  --color-outline: hsl(0, 0%, 10%);
  --color-same: hsl(0, 0%, 95%);

  /* --text-xs: 0.75rem;
  --text-larger: 1.5rem; 
  --text-md: 2rem; 
  --text-semi: 2.5rem; 
  --text-lg: 3rem; 
  --text-xl: 4rem; 
  --text-xxl: clamp(4rem, 10vw, 7rem); 
  --text-brand: clamp(6rem, 14vw, 9rem); */

  --text-base: clamp(1rem, 0.8076923076923077rem + 0.8205128205128207vw, 1.3rem);
  --text-2xxl: clamp(5rem, 3.0769230769230766rem + 8.205128205128204vw, 8rem);
  --text-xxl: clamp(5rem, 4.358974358974359rem + 2.735042735042735vw, 6rem);;
  --text-xl: clamp(3rem, 2.358974358974359rem + 2.735042735042735vw, 4rem);
  --text-lg: clamp(2rem, 1.358974358974359rem + 2.735042735042735vw, 3rem);
  --text-semi: clamp(1.5rem, 0.8589743589743589rem + 2.735042735042735vw, 2.5rem);
  --text-md: clamp(1.25rem, 1.0897435897435896rem + 0.6837606837606838vw, 1.5rem);

  --font-brand: "Brand";
  --font-head: "Heading";
  --font-base: "Oswald", "Source Sans 3";

  --spacing-nav: 90px;
  --spacing-grow: clamp(2rem, -3.1282051282051286rem + 21.88034188034188vw, 10rem);

  --leading-lg: clamp(3.7rem, 2.2256410256410257rem + 6.29059829059829vw, 6rem);;

  --tracking-wide: 0.3rem;

  --scale-hover: 1.05;
  --scale-active: 0.95;
}

.dark {
  --color-foreground: hsl(0, 0%, 10%);
  --color-background: hsl(0, 0%, 0%);
  --color-main: hsl(0, 0%, 95%);
  --color-shadow: hsl(0, 0%, 0%);
  --color-outline: hsl(0, 0%, 50%);
  --color-section: hsl(0, 0%, 5%);
  --color-card: hsl(0, 0%, 10%);
}

@layer base {
  body {
    font-size: 1rem;
    @apply bg-background text-base font-base text-main;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-black;
  }

  h1 {
    font-size: 3rem;
    @apply text-xl;
  }
  h2 {
    font-size: 2rem;
    @apply text-lg;
  }
  h3 {
    font-size: 1.5rem;
    @apply text-semi;
  }
  h5 {
    font-size: 1.25rem;
    @apply text-md font-bold mt-2.5;
  }
  svg {
    @apply stroke-main;
  }
}

@utility btn-action {
  &:hover {
    @apply gap-[55%] transition-[hover,filter,gap] duration-300 ease-out 
           justify-between brightness-90 dark:brightness-130;
  }

  &:active {
    @apply gap-[55%] justify-between transition-[brightness] duration-0
               brightness-70;
  }
}

@utility text-highlight {
  @apply font-brand text-2xxl text-accent;
}

@utility text-head {
  @apply font-black font-head tracking-[0.2rem];
  -webkit-text-stroke: 3.5px currentColor;
  paint-order: stroke fill;
}
